@{
    ViewData["Title"] = "Home Page";
}

@model List<ContactListView>

<div class="panel">
    <table id="table1" class="table1">
        <tr>
            <th>Расположение</th>
            <th>Количесво</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><a asp-area="" asp-controller="Home" asp-action="Devices" asp-route-id="@item.contactId" style="color: #000000">@item.name</a></td>
                <td>@item.count</td>
            </tr>
        }
        
    </table>
</div>

<script>

   
    function UpData() {
        
        $("#table1").load(location.href + " #table1");
        //alert('ok');
        //setTimeout(UpData, 3000);
    }
    UpData();
</script>

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
